# shellcheck shell=bash
if [ "$DEBUG" = "true" ]; then echo "$DOTFILESLOC/profile/_os/qnap/.exports" ; fi

# .bashrc & .bash_profile
export PATH=\
/bin:\
/sbin:\
/usr/bin:\
/usr/sbin:\
/usr/local/bin:\
/opt/bin:\
/opt/sbin:\
~/.dotfiles/os/qnap/scripts:\
~/.dotfiles/os/qnap/bin:\
$(getcfg SHARE_DEF defVolMP -f /etc/config/def_share.info)/.qpkg/container-station/bin

# .bashrc
USER=$(id -un); export USER
export LOGNAME=$USER
HOSTNAME=$(/bin/hostname); export HOSTNAME
#export HISTSIZE=1000
#export HISTFILESIZE=1000
export PAGER='/bin/more '
export EDITOR='/bin/vi'
export INPUTRC=/etc/inputrc
export DMALLOC_OPTIONS=debug=0x34f47d83,inter=100,log=logfile
