# shellcheck shell=bash

function _fix_permissions() {
	find . -type f -exec chmod 664 {} \; && find . -type d -exec chmod 775 {} \; && chown -R "$1":psacln *
}

function _updateAndClean() {
	apt update -y
	apt upgrade -y
	apt --purge autoremove -y
}

function _restart_nginx_varnish() {
	php7.4 /opt/magento/www.precisiontools.com/bin/magento cache:clean
	sudo service nginx restart && sudo service varnish restart
}

function _update_magento() {
	#ERROR SQLSTATE[HY000]: General error: 1419 You do not have the SUPER privilege
	#sudo mysql
	#set global log_bin_trust_function_creators=1;

	sudo rm -rf var/cache/* var/view_preprocessed/* generated/* pub/static/*
	n98 setup:upgrade
	n98 setup:di:compile
	n98 setup:static-content:deploy en_US -f
}