# shellcheck shell=bash
if [ "$DEBUG" = "true" ]; then echo ".raspi.aliases" ; fi

alias _setup='raspi-config'
alias _update_raspi='screen sudo apt update -y && sudo apt upgrade -y && sudo apt autoremove -y'
