# shellcheck shell=bash
if [ "$DEBUG" = "true" ]; then echo ".mac.aliases" ; fi

alias ls='ls -haFG'
alias ll='ls -FGlAhp'
alias which='type -a'                       # which:        Find executables
alias python='/usr/local/bin/python3'

alias f='open -a Finder ./'                 # f:            Opens current directory in MacOS Finder
trash () { command mv "$@" ~/.Trash ; }     # trash:        Moves a file to the MacOS trash
ql () { qlmanage -p "$*" >& /dev/null; }    # ql:           Opens any file in MacOS Quicklook Preview
alias DT='tee ~/Desktop/terminalOut.txt'    # DT:           Pipe content to file on MacOS Desktop


alias _kill_barracuda="kill $(ps aux | grep -9 'barracuda' | awk '{print $2}')"
